@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgb(225, 225, 225);
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
header{
    width: 100%;
    padding: 10px 0;
}
header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    list-style-type: none;
    display: flex;
}
.menu ul a{
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    font-size: 13px;
    border-bottom: 2px solid #30851d;
    margin: 0 5px;
}
.btn-cta a{
    padding: 8px 25px;
    font-size: 16px;
    border: 0 !important;
    background-color: #30851d;
    color: white !important;
    font-weight: 500;
}
.w50{
    width: 50%;
}
.topo{
    background-color: white;
    padding: 30px 0;
}
.topo > .container{
    display: flex;
    gap: 10px;
}
.img-topo{
    max-width: 100%;
    text-align: center;
}
.img-topo > img{
    width: 100%;
}
.texto-topo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.texto-topo h2{
    font-size: 35px;
}
.texto-topo p{
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
}
.downloads{
    display: flex;
    gap: 20px;
}

@media (max-width: 768px){
    .topo .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .downloads{
        justify-content: center;
    }
    .texto-topo{
        gap: 20px;
    }
    .texto-topo p{
        text-align: justify;
    }
    .w50{
        width: 100% !important;
    }
    .img-topo img{
        width: 80%;
    }
}